@font-face {
  font-family: "bankGothic";
  src: url("fonts/bank gothic medium bt.ttf") format("truetype");
}

@font-face {
  font-family: "bitsumis";
  src: url("fonts/BITSUMIS.ttf") format("truetype");
}

@font-face {
  font-family: "boomer";
  src: url("fonts/Boomer Tantrum.otf") format("truetype");
}

body {
  background-color: #283162;
  font-family: "bankGothic";
  color: #f6fff5;
}

/* para ocultar el scroll */
::-webkit-scrollbar {
    display: none;
}

.container {
  background-color: #1c1f3e;
  width: 1500px;
  height: 1200px;
  box-shadow: 0 15px 4em 1em #181727;
}

.nav-container {
  background-color: #747685;
  font-size: 30px;
  padding-top: 5px;
}

.nav-container ul li {
  margin: 0 20px;
}

.nav-container ul li .button {
  font-size: 30px;
  border-radius: 25px;
  height: 45px;
  margin-top: 18px;
  margin-left: 50px;
  padding: 0 40px 0 40px;
  background-color: #660066;
  border: none;
}

.nav-container ul li a {
  color: #000000;
  margin-top: 10px;
  height: 45px;
}

.nav-link:hover,
.nav-item .active {
  border-bottom: 3px solid #660066;
}

.button:hover {
  box-shadow: 0 0 1em 0.2em #f6fff5;
}

.tendencias-title{
  margin: 50px 0 10px 130px;
  font-size: 2em;
}

#tendencias{
  margin: 0 auto;
  box-shadow: 0 15px 4em 1em #181727;
}

.tendencias{
  width: 900px;
}

.carousel-item .portada{
  float: left;
  width: 60%;
}

.carousel-item .informacion{
  float: left;
  /* overflow-y: scroll; */
  padding: 20px 20px;
  width: 40%;
  height: 265.672px;
  background-color: #2e2e36;
}

.titulo-game{
  font-family: "bitsumis";
  font-size: 2em;
}

.descrip-game{
  font-family: arial;
  font-size: 12px;
}

h3{
  float: left;
  font-family: "boomer";
}

.estrellas{
  float: right;
  width: 150px;
  height: 26.078px;
}

.ofertas{
  width: 900px;
  height: 300px;
  margin: 10px auto;
  padding-left: 15px;
  box-shadow: 0 15px 4em 1em #181727;
  background-color: #2e2e36;
}

.contenedor-ofertas{
  float: left;
  margin: 10px 20px;
  width: 250px;
  height: 280px;
  border: 3px solid #4D4D4D!important;
  border-radius: 10px;
}

#buscador{
  margin: 30px 105px auto;
}

#footer{
  margin: 120px 360px;
}

/* DETALLE JUEGO */

.containerJuego{
  width: 905px;
  margin: 10px 100px;
  box-shadow: 0 15px 4em 1em #181727;
}

#prev-imagen{
  width: 600px;
  height: 400px;
  background-color: #2e2e36;
}

#galeria{
  width: 600px;
  height: 100px;
  margin-top: 5px;
  background-color: #2e2e36;
}

#descripcion{
  width: 300px;
  height: 505px;
  margin-left: 5px;
  background-color: #2e2e36;
}
